button.music {
    display: flex;
    background-color: var(--pretty-blue);
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 30px;
    width: 30px;
    border-radius: 100%;
    border: 1px solid var(--button-grey);
    margin-left: 20px;
    margin-bottom: 20px;
}

button.music:hover {
    background-color: var(--pretty-purple);
}

button.music svg {
    fill: white;
    display: flex;
    justify-content: center;
    align-items: center;
}