.coffee-shop-container {
  display: flex;
  justify-content: center;
}
.coffee-shop-border {
  --coffee-shop-brown: #ad6a1d;
  --coffee-shop-beige: #d5b39c;
  --coffee-shop-pink: #b3736c;
  --coffee-shop-red: #712d29;
  --coffee-shop-light-brown: #a64b00;

  background-color: var(--coffee-shop-brown);
  height: 406px;
  width: 486px;
  display: flex;
  margin: 20px;
  color: white;
  font-weight: bold;
  font-size: 12px;
}

.coffee-shop-background {
  background-color: var(--coffee-shop-beige);
  margin: 20px;
  padding: 22px;
}

.counter-container {
  background-color: var(--coffee-shop-brown);
  height: 118px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0px 12px;
}

.upcoming-orders {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  gap: 15px;
  margin-bottom: 10px;
  padding: 0px 15px;
}

.upcoming-orders svg {
  width: 60px;
  height: 60px;
}

.counter {
  background-color: var(--coffee-shop-light-brown);
  height: 16px;

  margin-bottom: 12px;
}

.coffee-shop-border .bottom {
  display: flex;
  gap: 12px;
  justify-content: space-between;
}

.coffee-shop-board {
  display: flex;
  flex-direction: column;
}

.coffee-shop-board .current-balance {
  background-color: var(--coffee-shop-pink);
  margin-top: 20px;
  margin-bottom: 12px;
  height: 120px;
  width: 120px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}

.star {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

.star .balance-value {
  position: absolute;
  margin-top: 10px;
}

.coffee-shop-board button {
  background-color: var(--coffee-shop-red);
  border: 1px solid var(--coffee-shop-pink);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  width: 164px;
  padding: 14px 5px;

  font-size: 12px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.coffee-shop-board button:hover {
  filter: brightness(110%);
}

.coffee-shop-board .menu button {
  background-color: var(--coffee-shop-pink);
  border: 1px solid var(--coffee-shop-red);
  display: flex;
  justify-content: space-between;
  padding: 14px 15px;
}

.current-order {
  margin-top: 18px;
}
