.expandable-menu {
  overflow: auto;
  margin: 10px 10px 25px 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.menu-item-header .secondary-value {
  display: none;
}

.menu-item-header:hover .secondary-value,
.menu-item-header .secondary-value.open {
  display: inline-block;
  color: var(--pretty-purple-dark);
  font-size: 0.9rem;
  font-style: italic;
}

/* For Header Buttons */
.expandable-menu button .menu-arrow {
  border-color: var(--pretty-purple);
}

.expandable-menu button.open {
  background-color: var(--pretty-purple);
}

.expandable-menu button.open .menu-arrow {
  border-color: white;
}

.expandable-menu button:hover {
  background-color: var(--pretty-blue);
}

.expandable-menu button:hover .menu-arrow {
  border-color: white;
}

.expandable-menu button {
  --button-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  border: none;
  border-radius: 50%;
  margin: 5px 2px;
  text-align: center;
  height: var(--button-size);
  width: var(--button-size);
  min-width: var(--button-size);
}

.menu-arrow {
  display: block;
  width: 4px;
  height: 4px;
  min-width: 4px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(-45deg);
}

.menu-arrow.open {
  transform: rotate(45deg);
}

/* menu-item-wrapper */
.menu-item-wrapper {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* For Menu Items */
.last-children {
  display: flex;
  flex-direction: column;
  gap: 14px;
  background-color: var(--button-grey);
  border-radius: 10px;
  padding: 15px 10px;
  margin: 10px 20px;
  box-shadow: var(--basic-box-shadow);
}

.tree-item-child {
  margin-left: 35px;
}

.last-children .tree-item-child {
  margin-left: 0;
}

@media screen and (max-width: 425px) {
  .expandable-menu {
    gap: 18px;
  }

  .expandable-menu button {
    height: 35px;
    width: 35px;
    min-width: 35px;
  }

  .last-children {
    padding: 20px 10px;
    margin: 13px 0px;
  }

  .tree-item-child {
    margin-left: 0;
  }

  .menu-arrow {
    width: 6px;
    min-width: 6px;
    height: 6px;
  }
}
