* {
  --charcoal: #36454f;
  --button-grey: #efefef;
  --black: black;
  --grey: #8a8a8a;
  --pretty-blue: #89badf;
  --pretty-purple: #7297d6;
  /* one tint down from pretty purple */
  --pretty-purple-light: #80a1da;
  --pretty-orange: #eca9a9;
  --pretty-pink: #d399e7;
  --pretty-green: #d1e3bc;
  --space-blue: #142c8f;
  --primary-background-color: antiquewhite;
  --basic-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;

  font-family: monospace;
}

body,
html,
#root {
  height: 100dvh;
  font-size: 1rem;
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 425px) {
  body,
  html,
  #root {
    font-size: 1.02rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--pretty-blue);
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  flex-direction: column;
}

.menu-item {
  padding: 10px;
  border: 2px solid var(--pretty-blue);
  background-color: var(--pretty-purple);
  border-radius: 30px;
  margin: 8px;
  margin-right: -2px;
  box-shadow: var(--basic-box-shadow);
}

.menu-item:hover {
  background-color: var(--pretty-purple-light);
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.primary-content {
  margin: 40px 20px;
  /* added for fun todo edit */
  background-color: var(--pretty-green);
  border-radius: 30px;
  box-shadow: var(--basic-box-shadow);
  border: 1px solid var(--primary-background-color);
  overflow: hidden;
}

.text-content {
  padding: 25px;
}

footer {
  margin-top: auto;
  margin-bottom: 20px;
}
