* {
  --charcoal: #36454f;
  --button-grey: #efefef;
  --black: black;
  --pretty-black: #1a1b1f;
  --grey: #8a8a8a;
  --pretty-blue: #89badf;
  --pretty-purple: #7297d6;
  /* one tint down from pretty purple */
  --pretty-purple-light: #80a1da;
  --pretty-purple-dark: #4979ca;
  --pretty-orange: #eca9a9;
  --pretty-pink: #d399e7;
  --pretty-green: #d1e3bc;
  --space-blue: #142c8f;
  --primary-background-color: antiquewhite;
  --basic-box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;

  font-family: monospace;
  color: var(--pretty-black);

  /* credit - https://www.joshwcomeau.com/shadow-palette/ */
  --shadow-color: 24deg 28% 44%;
  --shadow-elevation-low: 0px 0.8px 0.9px hsl(var(--shadow-color) / 0.34),
    0px 1.3px 1.5px -1.2px hsl(var(--shadow-color) / 0.34),
    -0.1px 3px 3.4px -2.5px hsl(var(--shadow-color) / 0.34);
  --shadow-elevation-medium: 0px 0.8px 0.9px hsl(var(--shadow-color) / 0.36),
    0px 2.5px 2.8px -0.8px hsl(var(--shadow-color) / 0.36),
    -0.1px 6.2px 7px -1.7px hsl(var(--shadow-color) / 0.36),
    -0.3px 15.1px 17px -2.5px hsl(var(--shadow-color) / 0.36);
  --shadow-elevation-high: 0px 0.8px 0.9px hsl(var(--shadow-color) / 0.3),
    -0.1px 4px 4.5px -0.3px hsl(var(--shadow-color) / 0.3),
    -0.1px 7.2px 8.1px -0.6px hsl(var(--shadow-color) / 0.3),
    -0.2px 11.3px 12.7px -0.9px hsl(var(--shadow-color) / 0.3),
    -0.3px 17.1px 19.2px -1.2px hsl(var(--shadow-color) / 0.3),
    -0.5px 25.6px 28.8px -1.6px hsl(var(--shadow-color) / 0.3),
    -0.7px 37.6px 42.3px -1.9px hsl(var(--shadow-color) / 0.3),
    -1px 54px 60.8px -2.2px hsl(var(--shadow-color) / 0.3),
    -1.4px 75.7px 85.2px -2.5px hsl(var(--shadow-color) / 0.3);
}

body,
html,
#root {
  height: 100dvh;
  font-size: 1rem;
  background-color: var(--primary-background-color);
}

@media screen and (max-width: 425px) {
  body,
  html,
  #root {
    font-size: 1.02rem;
  }
}

#root {
  display: flex;
  flex-direction: column;
}

.top-nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: var(--pretty-blue);
  box-shadow: var(--basic-box-shadow);
}

.content-container {
  z-index: 1;
}

.bottom-bar {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  flex-direction: column;
}

.menu-item {
  padding: 10px;
  border: 2px solid var(--pretty-blue);
  background-color: var(--pretty-purple);
  border-radius: 30px;
  margin: 9px 8px;
  margin-right: -2px;
  box-shadow: var(--basic-box-shadow);
}

.menu-item:hover {
  background-color: var(--pretty-purple-light);
}

.menu-item a {
  text-decoration: none;
  color: white;
}

.primary-content {
  margin: 40px 20px;
  /* added for fun todo edit */
  background-color: var(--pretty-green);
  border-radius: 30px;
  box-shadow: var(--basic-box-shadow);
  border: 1px solid var(--primary-background-color);
  overflow: hidden;
}

.text-content {
  padding: 25px;
}

footer {
  margin-top: auto;
  margin-bottom: 20px;
}

.justify-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item.login-cta {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.menu-item.login-cta svg {
  width: 18px;
  height: 18px;
}
