.folder {
    overflow: auto;
    margin: 10px 10px 25px 10px;
}

.folder button:hover {
    background-color: var(--pretty-blue);
}

.folder button:hover .menu-arrow {
    border-color: white;
}

.folder button {
    --button-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: none;
    border-radius: 50%;
    margin: 4px 1px;
    text-align: center;
    height: var(--button-size);
    width: var(--button-size);
}

.tree-item-child {
    margin-left: 35px;
}

@media screen and (max-width: 425px) {
    .folder button {
        height: 35px;
        width: 35px;
    }
  }


.menu-arrow {
    display: block;
    width: 4px;
    height: 4px;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    transform: rotate(-45deg);
}

.menu-arrow.open {
    transform: rotate(45deg);
}