.making-friends-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.chat-box-container {
  background-color: var(--pretty-blue);
  overflow: hidden;
  padding: 20px;
  margin: 20px 0px;
  border-radius: 30px;
}

.chat-box {
  height: 140px;
  overflow: scroll;
}

.chat-msg .user {
  font-weight: bold;
}

.chat-box * {
  overflow-anchor: none;
}

.chat-box #anchor {
  overflow-anchor: auto;
  height: 1px;
}

.making-friends-container form {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.making-friends-container form input {
  width: 35%;
}

@media screen and (max-width: 425px) {
  .making-friends-container form input {
    width: 100%;
  }
}
